In [4]:
import sys

sys.path.append('..')

import pandas as pd
from IPython.display import display

from src.game import BattleshipBoard

In [5]:
# Example usage
ship_sizes = [5, 4, 3, 3, 2]  # Example ship sizes
board = BattleshipBoard(ship_sizes, width=10, height=10)

# Mark some hits and misses
board.mark_miss('A', 2)
board.mark_miss('B', 1)
board.mark_hit('B', 3)

# Check the board
board.print_board()

In [6]:
# Try to sink the ship of B3
board.mark_hit('B', 4)

# Assume we sunk the ship of B3-B4
board.mark_ship_sunk(2)

# Check what ship sizes remain
print(f'Ship sizes remaining: {board.ship_sizes}')

# Check the board again
board.print_board()

Ship sizes remaining: [5, 4, 3, 3]

In [9]:
# Check the possibility grid to decide where to hit next
display(board.print_board(possibilities=True))

best_targets = board.find_best_targets()
best_targets_strings = [f"{target[0]}{target[1]}" for target in best_targets]
print(f'Best target(s): {", ".join(best_targets_strings)}')

Best target(s): E5, E6, F5, F6